#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix=/usr

override_dh_auto_build:
	make

override_dh_auto_install:
	make install 

override_dh_auto_test:

