#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_autoreconf:

override_dh_auto_configure:
	while [ ! -e configure ]; do ./autoconfiscate.sh; done && \
	./configure --prefix=/usr
